﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="A2.aspx.cs" Inherits="InternetEhliyetTakip2B.A2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

.anaDiv
{
margin:0 auto
}
.icDiv
{
text-align:left
}
        .style1 {
            width: 100%;
            height: 487px;
        }
        .style2
        {
            height: 196px;
        }
        .style9
        {
            width: 908px;
            height: 183px;
        }
        .style3
        {
            height: 20px;
        }
        .style6
        {
            height: 31px;
        }
        .style5
        {
            height: 327px;
        }
        .style10
        {
            width: 262px;
            height: 30px;
        }
        .auto-style1
        {
            width: 956px;
            height: 187px;
        }
        .auto-style2
        {
            width: 255px;
            height: 38px;
        }
        .auto-style3
        {
            color: rgb(255, 0, 0);
        }
    </style>
</head>
<body>
    <center>
        <form id="form1" runat="server">
            <div style="width:800px">
                <div class="anaDiv">
                    <div class="icDiv">
                        <table class="style1">
                            <tr>
                                <td bgcolor="White" class="style2">
                                    <img alt="" class="auto-style1" src="image/NewFolder1/image.JPG" /></td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style3">
                                    <asp:Menu ID="Menu2" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/uyegirisi.aspx" Text="Üye Girişi" Value="Üye Girişi"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="Kayıt Ol" Value="Kayıt Ol"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style6">
                                    <asp:Menu ID="Menu1" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/Anasayfa.aspx" Text="ANASAYFA" Value="ANASAYFA"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/Kursumuz.aspx" Text="KURSUMUZ" Value="KURSUMUZ"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/belgeler.aspx" Text="SÜRÜCÜ BELGESİ SINIFLARI" Value="SÜRÜCÜ BELGESİ SINIFLARI">
                                                <asp:MenuItem NavigateUrl="~/A2.aspx" Text="A2 MOTOR EHLİYETİ" Value="A2 MOTOR EHLİYETİ"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/B.aspx" Text="B SINIFI" Value="B SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/D.aspx" Text="D SINIFI" Value="D SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/E.aspx" Text="E SINIFI" Value="E SINIFI"></asp:MenuItem>
                                            </asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="ONLİNE KAYIT" Value="ONLİNE KAYIT"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/iletisim.aspx" Text="İLETİŞİM" Value="İLETİŞİM"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style5">
                                    <div style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(30, 30, 30);">
                                        <h1 class="auto-style3" style="border: 0px; margin: 0px; padding: 0px; outline: none; background-color: #333333;">A2 Motosiklet Ehliyeti</h1>
                                    </div>
                                    <br style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(30, 30, 30);" />
                                    <div style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px 0px 0px 45px; padding: 0px; outline: none; color: rgb(204, 204, 204); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(51, 51, 51);">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A2 Motosiklet ehliyeti alma yaşı 17 dir. 2013 Yılı için 1996&nbsp; yılında doğup, ay ve gününü dolduranlar başvurabilirler.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A2 motosiklet ehliyeti almak için&nbsp; yaş cetveli</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2013 yılı için 1996 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2014 yılı için 1997 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015 yılı için 1998 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016 yılı için 1999 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2017 yılı için 2000 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2018 yılı için 2001 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -A2 motosiklet ehliyeti için kursa kayıt yapabilirler.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Mevcut kanunlar gereği 50cc üstü tüm motosiklet sürücülerinin A2 motosiklet ehliyeti almaları gerekmektedir.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <p style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify; width: 807px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Milli Eğitim Bakanlığı tarafından yapılan motor&nbsp; test sınavı<span class="Apple-converted-space">&nbsp;</span><span style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);">(başka bir sınıf sürücü belgesine sahip olanlar yazılı sınava girmezler)</span><span class="Apple-converted-space">&nbsp;</span>ve motosiklet&nbsp; direksiyon sınavına girerek A2 motosiklet sınıfı sürücü belgesi sertifikanıza sahip olabilirsiniz.</p>
                                        <p style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify; height: 13px;">
                                            <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A2 Motosiklet Ehliyeti İçin Gerekli Belgeler</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                            &nbsp;</p>
                                        <p style="border: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Nüfus cüzdanı fotokopisi</p>
                                        <p style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify; height: 26px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Evvelce alınmış başka bir sınıf sürücü belgeniz var ise fotokopisi<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                            &nbsp;</p>
                                        <p style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify; height: 28px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Öğrenim belgesi&nbsp;<span class="Apple-converted-space">&nbsp;</span><font size="1" style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);">(Aslı<span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-size: x-small;"><span class="Apple-converted-space">&nbsp;</span>görülüp, fotokopisi alındıktan sonra iade edilir)</span></font><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        </p>
                                        <p style="border: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -7 Vesikalık Fotoğraf</p>
                                        <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yetkili Özel veya devlet hastanesinden sürücü olur raporu (rapaor alma ile ilgili kursumuzdan destek alabilirsiniz)<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        </p>
                                        <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Banka Sınav harcı dekontu Ziraat, Vakıf, Halkbank tüm şubelerine yatırılabilir.<span style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);"><span class="Apple-converted-space">&nbsp;</span>(Kursa kayıt yaptırmadan ya da bilgi / teyit almadan harç yatırmayınız.)</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                            &nbsp;</p>
                                        <p style="border: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ön kayıt için gerekli olan nüfus cüzdanı ve ehliyet fotokopisinin okunaklı bir şekilde fakslanması veya tarafımıza iletilmesi ile kurs kaydınız tamamlanmış olur.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        </p>
                                        <p style="border: 0px; margin: 0px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Diğer evrakların herhangi bir mağduriyet yaşamamanız için sınavdan en gec 30 gün öncesine kadar&nbsp; tamamlanıp teslim edilmesi gereklidir.</p>
                                        &nbsp;<span style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(255, 0, 0);"><font size="2" style="border: 0px; margin: 0px; padding: 0px; outline: none;"><span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NOT: Daha önce başka bir sınıf sürücü belgesine sahip olan adaylar yazılı sınava girmezler sadece almak istedikleri ehliyet sınıfının direksiyon sınavına girerler.</span></font></span><span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Örnek: B sınıfı otomobil ehliyeti olup A2 motosiklet ehliyeti almak için kursa başvuranlar, sadece motosiklet direksiyon sınavına girerler.</div>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="White">
                                    <img alt="" class="auto-style2" src="image/NewFolder1/faydalı%20linkler.JPG" /><br />
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.kgm.gov.tr/Sayfalar/KGM/SiteTr/Root/Haritalar.aspx">Türkiye Karayolları Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/">Trafik Yoğunluğu Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton3" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/ErrorPage.html?aspxerrorpath=/yolDurumu/Kameralar.aspx">Trafik Kameraları</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton4" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.rotamap.com/">Seyahat Süresi Hesaplama</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton5" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="https://www.turkiye.gov.tr/">e-Devlet</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </center>
</body>
</html>
