﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="B.aspx.cs" Inherits="InternetEhliyetTakip2B.B" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

.anaDiv
{
margin:0 auto
}
.icDiv
{
text-align:left
}
        .style1 {
            width: 100%;
            height: 487px;
        }
        .style2
        {
            height: 196px;
        }
        .style9
        {
            width: 908px;
            height: 183px;
        }
        .style3
        {
            height: 20px;
        }
        .style6
        {
            height: 31px;
        }
        .style5
        {
            height: 327px;
        }
        .style10
        {
            width: 262px;
            height: 30px;
        }
        .auto-style1 {
            width: 255px;
            height: 38px;
        }
        .auto-style2 {
            width: 956px;
            height: 188px;
        }
    </style>
</head>
<body>
    <center>
        <form id="form1" runat="server">
            <div style="width:800px">
                <div class="anaDiv">
                    <div class="icDiv">
                        <table class="style1">
                            <tr>
                                <td bgcolor="White" class="style2">
                                    <img alt="" class="auto-style2" src="image.JPG" /></td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style3">
                                    <asp:Menu ID="Menu2" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/uyegirisi.aspx" Text="Üye Girişi" Value="Üye Girişi"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/onlinekayit.aspx" Text="Kayıt Ol" Value="Kayıt Ol"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style6">
                                    <asp:Menu ID="Menu1" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/Anasayfa.aspx" Text="ANASAYFA" Value="ANASAYFA"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/Kursumuz.aspx" Text="KURSUMUZ" Value="KURSUMUZ"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/belgeler.aspx" Text="SÜRÜCÜ BELGESİ SINIFLARI" Value="SÜRÜCÜ BELGESİ SINIFLARI">
                                                <asp:MenuItem NavigateUrl="~/A2.aspx" Text="A2 MOTOR EHLİYETİ" Value="A2 MOTOR EHLİYETİ"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/B.aspx" Text="B SINIFI" Value="B SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/D.aspx" Text="D SINIFI" Value="D SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/E.aspx" Text="E SINIFI" Value="E SINIFI"></asp:MenuItem>
                                            </asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/onlinekayit.aspx" Text="ONLİNE KAYIT" Value="ONLİNE KAYIT"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/iletisim.aspx" Text="İLETİŞİM" Value="İLETİŞİM"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style5">
                                    <div style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(30, 30, 30);">
                                        <h1 style="border: 0px; margin: 0px; padding: 0px; outline: none; background-color: #333333;">&nbsp;B Sınıfı Otomobil Ehliyeti</h1>
                                    </div>
                                    <br style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(30, 30, 30);" />
                                    <div style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px 0px 0px 29px; padding: 0px; outline: none; color: rgb(204, 204, 204); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(51, 51, 51);">
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-size: small;"><span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B Sınıfı otomobil ehliyet başvurma yaşı</span></span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B Sınıfı Otomobil ehliyeti alma yaşı 18 dir. 2013 Yılı için 1995&nbsp; yılında doğup, ay ve gününü dolduranlar başvurabilirler.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B Sınıfı otomobil ehliyeti almak için&nbsp; yaş cetveli</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2013 yılı için 1995 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2014 yılı için 1996 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2015 yılı için 1997 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2016 yılı için 1998 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2017 yılı için 1999 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -2018 yılı için 2000 yılı doğumlu gün ve ayı dolduranlar<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -B Sınıfı Otomobil Ehliyeti için kursa kayıt yapabilirler.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-size: small;"><span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B Sınıfı Otomobil Sürücü Belgesi Eğitimi<span class="Apple-converted-space">&nbsp;</span></span></span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Toplam 30 saatlik 5-6* gün sürecek teorik eğitimi tamamladıktan sonra direksiyon eğitimlerine gecilir.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-size: small;"><span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Teorik eğitimler:</span></span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hafta içi&nbsp; ve hafta sonları yapılır.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-size: small;"><span style="border: 0px; margin: 0px; padding: 0px; outline: none; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Direksiyon sürüş eğitimleri:</span></span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Bire bir&nbsp; olarak haftanın her günü randevu sistemiyle karşılıklı belirlediğimiz saatlerde yapabilirsiniz.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Direksiyon eğitimleri trafikte 10 derstir. Her ders 50 dakika sürer. Bir yarım günde 2 saate kadar direksiyon dersi alabilirsiniz.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Akan trafikte Direksiyon Eğitimi Ders Programı<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 01.KONU&nbsp; Araca inmek binmek, Koltuk ve Ayna ayarları, Oturuş, Direksiyon tutuş ve Bakış tekniği,donanımların tanıtılması ve açıklanması, Motorun çalıştırılması ve durdurulması.<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 02. KONU&nbsp; Aracın harekete geçirilmesi ve aracın durdurulması<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 03. KONU&nbsp; Düz devamlı sürüş, Şerit ve İz takibi<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 04. KONU&nbsp; Vites büyütme ve Vites küçültme<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 05. KONU&nbsp; Şerit seçme ve Şerit değiştirme<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 06. KONU&nbsp; Sağa Sola ve Geri dönüşler<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07. KONU&nbsp; Kavşaklarda dönüşler ve Geçişler<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08. KONU&nbsp; Eğimli yollarda duruş ve kalkışlar<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09. KONU&nbsp; Geri gidiş ve Park manevrası<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10. KONU&nbsp; Sınav yeri çalışması<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11. KONU&nbsp; Sürücü Kokpit Eğitimi<span class="Apple-converted-space">&nbsp;</span><br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12. KONU Ekonomik arac kullanma<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        <br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Araçlarımız son model Renault Clio HB Düz ve otomatik vitesli çift fren ve debriyaj tertibatlı dizel klimalı araçlardır.<br style="border: 0px; margin: 0px; padding: 0px; outline: none;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ayrıca kursumuzda araç simülatörümüz de sınırsız kullanımıza açıktır.<br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="White">
                                    <img alt="" class="auto-style1" src="faydalı%20linkler.JPG" /><br />
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.kgm.gov.tr/Sayfalar/KGM/SiteTr/Root/Haritalar.aspx">Türkiye Karayolları Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/">Trafik Yoğunluğu Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton3" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/ErrorPage.html?aspxerrorpath=/yolDurumu/Kameralar.aspx">Trafik Kameraları</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton4" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.rotamap.com/">Seyahat Süresi Hesaplama</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton5" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="https://www.turkiye.gov.tr/">e-Devlet</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </center>
</body>
</html>
