﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="kayitsayfasi.aspx.cs" Inherits="InternetEhliyetTakip2B.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

.anaDiv
{
margin:0 auto
}
.icDiv
{
text-align:left
}
        .style1 {
            width: 100%;
            height: 487px;
        }
        .style2
        {
            height: 196px;
        }
        .style9
        {
            width: 908px;
            height: 183px;
        }
        .style3
        {
            height: 20px;
        }
        .style6
        {
            height: 31px;
        }
        .style5
        {
            height: 327px;
        }
        .style10
        {
            width: 262px;
            height: 30px;
        }
        .auto-style5
        {
            height: 196px;
            width: 495px;
        }
        .auto-style6
        {
            height: 20px;
            width: 495px;
        }
        .auto-style8
        {
            height: 327px;
            width: 495px;
        }
        .auto-style9
        {
            width: 495px;
        }
        .style16
        {
            height: 35px;
            width: 87px;
        }
        .style15
        {
            width: 500px;
            height: 35px;
        }
        .style14
        {
            height: 35px;
        }
        .auto-style11
        {
            width: 905px;
            height: 189px;
        }
        .auto-style12
        {
            width: 255px;
            height: 38px;
        }
        .auto-style13
        {
            height: 10px;
            width: 495px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <center>
            <div style="width: 800px">
                <div class="anaDiv">
                    <div class="icDiv">
                        <table class="style1">
                            <tr>
                                <td bgcolor="White" class="auto-style5">
                                    <img alt="" class="auto-style11" src="image.JPG" /></td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="auto-style6">
                                    <asp:Menu ID="Menu2" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem Text="Üye Girişi" Value="Üye Girişi" NavigateUrl="~/uyegirisi.aspx"></asp:MenuItem>
                                            <asp:MenuItem Text="Kayıt Ol" Value="Kayıt Ol" NavigateUrl="~/kayitsayfasi.aspx"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="auto-style13">
                                    <asp:Menu ID="Menu1" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem Text="ANASAYFA" Value="ANASAYFA" NavigateUrl="~/Anasayfa.aspx"></asp:MenuItem>
                                            <asp:MenuItem Text="KURSUMUZ" Value="KURSUMUZ" NavigateUrl="~/Kursumuz.aspx"></asp:MenuItem>
                                            <asp:MenuItem Text="SÜRÜCÜ BELGESİ SINIFLARI" Value="SÜRÜCÜ BELGESİ SINIFLARI">
                                                <asp:MenuItem Text="A2 MOTOR EHLİYETİ" Value="A2 MOTOR EHLİYETİ" NavigateUrl="~/A2.aspx"></asp:MenuItem>
                                                <asp:MenuItem Text="B SINIFI" Value="B SINIFI" NavigateUrl="B.aspx"></asp:MenuItem>
                                                <asp:MenuItem Text="D SINIFI" Value="D SINIFI" NavigateUrl="D.aspx"></asp:MenuItem>
                                                <asp:MenuItem Text="E SINIFI" Value="E SINIFI" NavigateUrl="E.aspx"></asp:MenuItem>
                                            </asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="ONLİNE KAYIT" Value="ONLİNE KAYIT"></asp:MenuItem>
                                            <asp:MenuItem Text="İLETİŞİM" Value="İLETİŞİM" NavigateUrl="iletisim.aspx"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="auto-style8">
                                    <table align="center" class="style9" frame="border">
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Kullanıcı Adı</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtkAdi" runat="server" Height="25px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Şifre*&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtSifre" runat="server" Height="25px" TextMode="Password" Width="150px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Ad &nbsp;*&nbsp;&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtAd" runat="server" Height="25px" style="margin-left: 0px" Width="150px"></asp:TextBox>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Soyad&nbsp;*&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtSoyad" runat="server" Height="25px" style="margin-left: 1px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Doğum Yeri*&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtDogumYeri" runat="server" Height="25px" style="margin-left: 0px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">D.Tarihi*&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtDogumT" runat="server" Height="25px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">T.C Kimlik*</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtTcNo" runat="server" Height="25px" MaxLength="11" style="margin-left: 0px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">Telefon*</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtTel" runat="server" Height="25px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style16" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">&nbsp;E-mail*&nbsp;&nbsp;</td>
                                            <td class="style15" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333">
                                                <asp:TextBox ID="txtEmail" runat="server" Height="25px" Width="149px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="style14" colspan="2" style="font-family: verdana; font-weight: bold; color: #999999; background-color: #333333; font-size: small;">
                                                <p style="color: #CCCCCC; background-color: #333333;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(204, 204, 204); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(51, 51, 51);">Kayıt olmak istediğiniz sürücü belgesi sınıfını seçiniz *</strong>&nbsp;<asp:DropDownList ID="dpListe" runat="server">
                                                        <asp:ListItem>A2 Motosiklet Ehliyeti</asp:ListItem>
                                                        <asp:ListItem>B Otomobil Ehliyeti</asp:ListItem>
                                                        <asp:ListItem>D Çekici Ehliyeti</asp:ListItem>
                                                        <asp:ListItem>E Otobüs Ehliyeti</asp:ListItem>
                                                    </asp:DropDownList>
                                                </p>
                                                <p style="color: #CCCCCC; background-color: #333333;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <asp:Button ID="Button1" runat="server" Text="Kaydet" />
&nbsp;&nbsp;
                                                </p>
                                                <p style="color: #CCCCCC; background-color: #333333;">
                                                    &nbsp;</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="White" class="auto-style9">
                                    <img alt="" class="auto-style12" src="faydalı%20linkler.JPG" /><br />
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Strikeout="False" Font-Underline="True" ForeColor="Black" PostBackUrl="http://www.kgm.gov.tr/Sayfalar/KGM/SiteTr/Root/Haritalar.aspx">Türkiye Karayolları Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Strikeout="False" Font-Underline="True" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/">Trafik Yoğunluğu Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton3" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Strikeout="False" Font-Underline="True" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/ErrorPage.html?aspxerrorpath=/yolDurumu/Kameralar.aspx">Trafik Kameraları</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton4" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Strikeout="False" Font-Underline="True" ForeColor="Black" PostBackUrl="http://www.rotamap.com/">Seyahat Süresi Hesaplama</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton5" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Strikeout="False" Font-Underline="True" ForeColor="Black" PostBackUrl="https://www.turkiye.gov.tr/">e-Devlet</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </center>
    
    </div>
    </form>
</body>
</html>
