﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Kursumuz.aspx.cs" Inherits="InternetEhliyetTakip2B.Kursumuz" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

.anaDiv
{
margin:0 auto
}
.icDiv
{
text-align:left
}
        .style1 {
            width: 100%;
            height: 487px;
        }
        .style2
        {
            height: 196px;
        }
        .style9
        {
            width: 908px;
            height: 183px;
        }
        .style3
        {
            height: 20px;
        }
        .style6
        {
            height: 31px;
        }
        .style5
        {
            height: 327px;
        }
        .style10
        {
            width: 262px;
            height: 30px;
        }
        .auto-style1
        {
            width: 255px;
            height: 38px;
        }
        .auto-style2
        {
            width: 956px;
            height: 192px;
        }
        .auto-style3
        {
            color: #FF0000;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <center>
            <div style="width:800px">
                <div class="anaDiv">
                    <div class="icDiv">
                        <table class="style1">
                            <tr>
                                <td bgcolor="White" class="style2">
                                    <img alt="" class="auto-style2" src="image/NewFolder1/image.JPG" /></td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style3">
                                    <asp:Menu ID="Menu2" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/uyegirisi.aspx" Text="Üye Girişi" Value="Üye Girişi"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="Kayıt Ol" Value="Kayıt Ol"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style6">
                                    <asp:Menu ID="Menu1" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/Anasayfa.aspx" Text="ANASAYFA" Value="ANASAYFA"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/Kursumuz.aspx" Text="KURSUMUZ" Value="KURSUMUZ"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/belgeler.aspx" Text="SÜRÜCÜ BELGESİ SINIFLARI" Value="SÜRÜCÜ BELGESİ SINIFLARI">
                                                <asp:MenuItem NavigateUrl="~/A2.aspx" Text="A2 MOTOR EHLİYETİ" Value="A2 MOTOR EHLİYETİ"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/B.aspx" Text="B SINIFI" Value="B SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/D.aspx" Text="D SINIFI" Value="D SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/E.aspx" Text="E SINIFI" Value="E SINIFI"></asp:MenuItem>
                                            </asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="ONLİNE KAYIT" Value="ONLİNE KAYIT"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/iletisim.aspx" Text="İLETİŞİM" Value="İLETİŞİM"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style5">
                                    <div style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(30, 30, 30);">
                                        <h1 class="auto-style3" style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 0px; outline: none; background-color: #333333; font-size: medium; font-family: Verdana;">Kursumuz</h1>
                                        <p style="border: 0px; margin: 0px; padding: 0px; outline: none; background-color: #333333; font-size: medium; color: #000000; font-family: Verdana;">
                                            &nbsp;</p>
                                    </div>
                                    <p style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px 0px 0px 41px; padding: 0px 0px 1.3em; outline: none; line-height: 1.5em; text-align: justify; height: 237px; width: 717px; background-color: #333333; font-family: Verdana; font-size: small; color: #999999;">
                                        1990 Yılında kurulan Etik Sürücü Kursu; halen Milli Eğitim Bakanlığı denetim ve gözetimi altında faaliyetini&nbsp; sürdürüyor.İstanbul Avrupa&nbsp; Yakası Levent / Gültepe girişinde bulunan her iki köprü ve çevre yollarından özel araç ve&nbsp; toplu taşıma (Metro, Metrobüs, Otobüs,&nbsp; Minibüs) ile kursumuza rahatça ulaşabilirsiniz. Otomobil, Otobüs,&nbsp; Motosiklet, çekici / Tır sınıflarında eğitimler ve sürücü belgeleri&nbsp; veren kaliteli, üstün ve modern&nbsp; eğitimi hizmet anlayışı&nbsp; olarak benimsemiş, önde gelen eğitim kurumlarından biridir.Direksiyon sürüş&nbsp; eğitimlerimiz süre kısıtlaması olmaksızın&nbsp; trafik simülatörü ve son model Renault Clio araçlar ile birebir, randevu sistemiyle öğretinceye&nbsp; kadar uygun fiyatlarla&nbsp; devam eder.Teorik eğitimlerimiz 18&#39;er kişilik interaktif modern dersliklerde konusunda uzman öğretim kadromuz&nbsp; tarafından süre kısıtlaması yapılmaksızın&nbsp; öğretinceye kadar devam eder.Uygun fiyatlarla maksimum eğitimin süre&nbsp; 
                                        kısıtlaması olmaksızın verilmesinin zorluğunu, trafik gibi hayati bir konunun şakaya gelmeyeceğinin farkındalığında, eğitim programlarımızı;&nbsp; &#39;&#39;Yaşamınızı&nbsp;önemsiyoruz&#39;&#39; ana felsefemize sadık kalarak sizlerle paylaşmanın mutluluğunu&nbsp; yaşıyoruz.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="border: 0px; margin: 0px; padding: 0px; outline: none; color: rgb(128, 128, 128); font-family: VERDAna; font-size: small; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: 21.59375px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; windows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(51, 51, 51);">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ETİK EĞİTİM KURUMLARI</div>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="White">
                                    <img alt="" class="auto-style1" src="image/NewFolder1/faydalı%20linkler.JPG" /><br />
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.kgm.gov.tr/Sayfalar/KGM/SiteTr/Root/Haritalar.aspx">Türkiye Karayolları Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/">Trafik Yoğunluğu Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton3" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/ErrorPage.html?aspxerrorpath=/yolDurumu/Kameralar.aspx">Trafik Kameraları</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton4" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.rotamap.com/">Seyahat Süresi Hesaplama</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton5" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="https://www.turkiye.gov.tr/">e-Devlet</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </center>
    
    </div>
    </form>
</body>
</html>
