﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="uyegirisi.aspx.cs" Inherits="InternetEhliyetTakip2B.uyegirisi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

.anaDiv
{
margin:0 auto
}
.icDiv
{
text-align:left
}
        .style1 {
            width: 100%;
            height: 487px;
        }
        .style2
        {
            height: 196px;
        }
        .style9
        {
            width: 908px;
            height: 183px;
        }
        .style3
        {
            height: 20px;
        }
        .style6
        {
            height: 31px;
        }
        .style5
        {
            height: 327px;
        }
        .style10
        {
            width: 262px;
            height: 30px;
        }
        .auto-style1
        {
            width: 255px;
            height: 38px;
        }
        .auto-style2
        {
            width: 956px;
            height: 190px;
        }
        .auto-style3
        {
            width: 69%;
            height: 84px;
        }
        .auto-style4
        {
            color: #FEBE14;
            width: 93px;
        }
        .auto-style5
        {
            width: 93px;
            color: #FEBE1F;
        }
        .auto-style6
        {
            width: 528px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <center>
            <div style="width:800px">
                <div class="anaDiv">
                    <div class="icDiv">
                        <table class="style1">
                            <tr>
                                <td bgcolor="White" class="style2">
                                    <img alt="" class="auto-style2" src="image/NewFolder1/image.JPG" /></td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style3">
                                    <asp:Menu ID="Menu2" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/uyegirisi.aspx" Text="Üye Girişi" Value="Üye Girişi"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="Kayıt Ol" Value="Kayıt Ol"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style6">
                                    <asp:Menu ID="Menu1" runat="server" BackColor="#333333" DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Verdana" Font-Size="0.9em" ForeColor="#FEBE14" Orientation="Horizontal" StaticSubMenuIndent="10px">
                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                        <DynamicSelectedStyle BackColor="#5D7B9D" />
                                        <Items>
                                            <asp:MenuItem NavigateUrl="~/Anasayfa.aspx" Text="ANASAYFA" Value="ANASAYFA"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/Kursumuz.aspx" Text="KURSUMUZ" Value="KURSUMUZ"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/belgeler.aspx" Text="SÜRÜCÜ BELGESİ SINIFLARI" Value="SÜRÜCÜ BELGESİ SINIFLARI">
                                                <asp:MenuItem NavigateUrl="~/A2.aspx" Text="A2 MOTOR EHLİYETİ" Value="A2 MOTOR EHLİYETİ"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/B.aspx" Text="B SINIFI" Value="B SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/D.aspx" Text="D SINIFI" Value="D SINIFI"></asp:MenuItem>
                                                <asp:MenuItem NavigateUrl="~/E.aspx" Text="E SINIFI" Value="E SINIFI"></asp:MenuItem>
                                            </asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/kayitsayfasi.aspx" Text="ONLİNE KAYIT" Value="ONLİNE KAYIT"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/iletisim.aspx" Text="İLETİŞİM" Value="İLETİŞİM"></asp:MenuItem>
                                        </Items>
                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                        <StaticSelectedStyle BackColor="#5D7B9D" />
                                    </asp:Menu>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#333333" class="style5">
                                    <table class="auto-style3" align="center">
                                        <tr>
                                            <td class="auto-style4"><strong>KullanıcıAdı:</strong></td>
                                            <td class="auto-style6">
                                                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="auto-style5"><strong>Şifre:</strong></td>
                                            <td class="auto-style6">
                                                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="auto-style5">&nbsp;</td>
                                            <td class="auto-style6">
                                                <asp:Button ID="Button1" runat="server" Text="Giriş" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="White">
                                    <img alt="" class="auto-style1" src="image/NewFolder1/faydalı%20linkler.JPG" /><br />
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.kgm.gov.tr/Sayfalar/KGM/SiteTr/Root/Haritalar.aspx">Türkiye Karayolları Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton2" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/">Trafik Yoğunluğu Haritası</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton3" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://tkm.ibb.gov.tr/ErrorPage.html?aspxerrorpath=/yolDurumu/Kameralar.aspx">Trafik Kameraları</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton4" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="http://www.rotamap.com/">Seyahat Süresi Hesaplama</asp:LinkButton>
                                    <br />
                                    <br />
                                    <asp:LinkButton ID="LinkButton5" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Overline="False" Font-Size="X-Small" Font-Underline="False" ForeColor="Black" PostBackUrl="https://www.turkiye.gov.tr/">e-Devlet</asp:LinkButton>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </center>
    </form>
</body>
</html>
